[Unit]
Description=My Java WebAPP

[Service]
User=root
WorkingDirectory=/root/kursova
ExecStart=/root/kursova/MM_13/start

[Install]
WantedBy=multi-user.target
