[Unit]
Description=My Java WebAPP

[Service]
User=root
WorkingDirectory=/home/ubuntu/kursova/MM_13
ExecStart=/home/ubuntu/kursova/MM_13/start

[Install]
WantedBy=multi-user.target
